.invisible {
  display: none;
}

#emailHede{
	margin-top: 20px;
}

#emailBody {
  height: 25vh;
  width: 50%;
}

#emailForm {
  margin-left: 33%;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 20px;
  padding-top: 30px;
}

#emailForm>h2{
  margin-left: 10%;
}

#emailSubject {
  width: 32.8%;
}

.wholeEmail{
    background-color: #fede8a;
    margin-top: 6px;
}