.SearchBox {
    background-color: #eeba7e;
	height: 400px;
	margin-top: 6px;
	position: relative;
}

.SearchHed{
	text-align: center;
}

.SearchText{
	text-align: center;
	font-size: 18px;
}

.SearchCenter{
	width: 60%; 
	position: absolute;
	top: 20%;
	left: 20%;
}
